{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div style="backgroung-color: lightgray" class="col">
                <ul class="sidebar">
                    <li><a href={{url_for('module001.module001_index')}}>Course</a></li>
                    <li><a href={{url_for('module001.module001_course')}}>Create</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}