{% extends 'module002_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content2%}
<h1>Curso {{ actualCourse.course_name }}</h1>
<div style="margin-bottom: 20px;">
    {{ wtf.quick_form(form) }}
</div>

<ul class="posts list-unstyled">
    {% for post in posts %}
        <li class="post panel panel-default">
            <div class="post-author panel-heading">
                 {{ post.author.username }}
            </div>
            <div class="panel-body">
                {{ post.body }}
            </div>
            <div class="post-date panel-footer">{{ post.timestamp }}</div>
        </li>
    {% endfor %}
</ul>

{% endblock %}