{% extends 'module003_base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content2%}
<div>
    <h1>Crear nueva actividad</h1>
    {% if current_user.id == creator_id%}
        {{ wtf.quick_form(form) }}
    {% endif %}
    <ul class="list-group" style="margin-top: 10px;">
        {% for activity in activities %}
        <li class="list-group-item"><a href= {{'/assignment/' + course_code + '/' + (activity.id|string)}}>
            {{ activity.name }}
        </a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}