{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
        <div style="padding: 0;background-color:lightgray;height: 94vh;" class="col-xs-2 col-sm-2 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
                <li><a style="color:black" href={{url_for('module003.module003_index')}}>Home</a></li>
                <li style="padding: 0px 10px; font-weight: bold">Cursos que sigues</li>
                {% for courseFollowed in coursesFollowed %}
                    <li><a style="color:black" href={{ '/assignment/' + courseFollowed.course_code}}>
                        {{ courseFollowed.course_name }}
                    </a></li>
                {% endfor %}
                <li style="padding: 0px 10px; font-weight: bold">Cursos creados por ti</li>
                {% for courseCreated in coursesCreated %}
                    <li><a style="color:black" href={{ '/assignment/' + courseCreated.code}}>
                        {{ courseCreated.name }}
                    </a></li>
                {% endfor %}
          </ul>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10">
            {% block content2 %} {% endblock %}
        </div>
      </div>
    </div>
{% endblock %}